In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='1fCTvIyajQEoU3b9slSTcCXZnkkdZBVQMXsLQWjzYwWt',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.eu.cloud-object-storage.appdomain.cloud')

bucket = 'jupyternotebook-donotdelete-pr-rc6qksg7a6obv3'
object_key = 'UNdata_Export_20221114_182853729.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Country or Area  Year    Value Value Footnotes                  Unit
0         Albania  2015  32711.0             NaN  million cubic metres
1         Albania  2014  37172.0             NaN  million cubic metres
2         Albania  2013  30615.0             NaN  million cubic metres
3         Albania  2012  28058.0             NaN  million cubic metres
4         Albania  2011  30569.0             NaN  million cubic metres